@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.services {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    background: rgb(250, 250, 250);
}

.container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 20%;
    text-align: center;
}
.service {
    width: 110%;
    height: 100%;
    font-family: "Roboto", serif;
    font-style: normal;
    background: white;
    border-radius: 10px;
}
.service h1 {
    font-size: 1.7vw;
    color: #343434;
    font-weight: 400;
}
.service p {
    font-size: 1.3vw;
    font-weight: 300;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.service img {
    width: 15%;
    margin-top: 5%;
}
.tr1 {
    position: relative;
    top: 10%;
    left: 10%;
    border-top: 3px solid #4792f4;
    width: 15%;
}
.title {
    position: relative;
    top: 10%;
    margin-left: 10%;
    font-size: 2.5vw;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
@media (max-width: 480px) {
    .services {
        height: 70vh;
    }
    .title {
        text-align: center;
        font-size: 4vw;
        width: 80%;
    }
    .tr1 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 30%;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 12%;
        grid-row-gap: 10%;
        top: 20%;
    }
    .service {
        height: 110%;
    }
    .service h1 {
        font-size: 2.7vw;
    }
    .service p {
        font-size: 2vw;
    }
}