@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.aboutUs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 80%;
    height: 60vh;
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-between;
}
.containerChild h1 {
    font-size: 3vw;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: #343434;
}
.containerChild p {
    color: #343434;
    width: 90%;
    font-size: 1.5vw;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
.containerChild {
    width: 40%;
}
.container img {
    width: 33vw;
    height: 50vh;
    border-radius: 5px;
}

@media (max-width: 480px) {
    
}